# Python
__pycache__/
*.py[cod]
*.so
.Python
venv/
env/
.env
*.egg-info/
dist/
build/

# Django
*.log
local_settings.py
db.sqlite3
staticfiles/
media/

# Node
node_modules/
/frontend/build/
.npm

# Docker
.docker/

# IDE
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Coverage
.coverage
htmlcov/
